<div class="row">
  
    <div class="input-group mb-3 mt-5 ml-g">
    <input type="text" class="form-control"[(ngModel)]="term" >
    <div class="input-group-append"><button class="btn btn-primary"><i class="fas fa-search"></i></button></div>
  </div>
</div>
<table class="table table-hover text-center align-baseline">
    <thead class="table" style="font-size: 17px">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Seller</th>
            <th scope="col">Buyer</th>
            <th scope="col">Date</th>
            <th scope="col">Price</th>
            <th scope="col">Profit</th>
        </tr>
    </thead>
    <tbody *ngFor="
    let order of data.deliveredOrders| filter: term 
      | paginate
        : {
            itemsPerPage: itemsPerPage,
            currentPage: currentPage,
            totalItems: totalItems
          };
    let i = index
  ">
        <tr>
        <th scope="row">{{ i + 1 }}</th>
        
        <td>{{
            data["ordersDetails"][i][
            "orderSellerDetails"
            ]["userName"] | titlecase
            }}
            - {{order.addressfrom.city}}</td>
        <td>{{
            data["ordersDetails"][i][
            "orderBuyerDetails"
            ]["userName"] | titlecase
            }}
            - {{order.addressto.city}}</td>
        <td>{{ order["time"] | date: "mediumDate" }}</td>
        <td>{{ order["productPrice"] }}</td>
        <td>{{ order["profit"] }} EGP</td>
    </tr>
    </tbody>
</table>
<pagination-controls class="text-center" (pageChange)="pageChanged($event)"></pagination-controls>
<!-- (pageChange)="pageChanged($event)" -->