<div class="flex-shrink-0 bg-white">
  <div class="d-flex justify-content-between align-items-center w-100 border-bottom pb-2">
    <h3 class="fs-5 fw-semibold text-primary">
      &nbsp;&nbsp;<i class="fa-solid fa-clipboard">&nbsp;</i> Dashboard
    </h3>
    <button class="btn btn-outline-primary d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#ee">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <ul class="list-unstyled">
    <li class="mb-1 my-3 mx-1">
      <!-- data-bs-toggle="collapse" -->
      <a class="btn btn-toggle d-inline-flex align-items-center rounded border-0  w-100 text-primary"
        role="button" routerLink="/dashbord/home" routerLinkActive="border shadow-sm ">
        <i class="fa-solid fa-house mx-2"></i> Home
      </a>
    </li>
    <li class="mb-1 my-3 mx-1">
      <a class="btn btn-toggle d-inline-flex align-items-center rounded border-0 w-100 text-primary" role="button"
        routerLink="/dashbord/users" routerLinkActive="border  shadow-sm">
        <i class="fa-solid fa-user-group mx-2"></i> Users
      </a>
    </li>
    <li class="mb-1 my-3 mx-1">
      <a class="btn btn-toggle d-inline-flex align-items-center rounded border-0 w-100 text-primary" role="button"
        routerLink="/dashbord/categories" routerLinkActive="border shadow-sm">
        <i class="fa-solid fa-folder mx-2"></i>Categories
      </a>
    </li>
    <li class="mb-1 my-3 mx-1">
      <a class="btn btn-toggle d-inline-flex align-items-center rounded border-0 w-100 text-primary" role="button"
        routerLink="/dashbord/pendingAds" routerLinkActive="border shadow-sm">
        <i class="fa-solid fa-circle-pause mx-2"></i> Pending Ads
      </a>
    </li>
    <!-- <li class="mb-1 my-3 mx-1">
      <a class="btn btn-toggle d-inline-flex align-items-center rounded border-0 w-100 text-primary" role="button"
        routerLink="/dashbord/deliveredOrders" routerLinkActive="border shadow-sm">
        <i class="fa-solid fa-truck-fast mx-2"></i>Delivered Orders
      </a>
    </li> -->
    <li class="mb-1 my-3 mx-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed w-100 text-primary"
        data-bs-toggle="collapse" data-bs-target="#pendingOrders" aria-expanded="true">
        <i class="fa-solid fa-bag-shopping mx-2"></i>
        <!-- <i class="fa-solid fa-bag-shopping fa-beat-fade"></i> -->
        Pending Orders
        <i class="fa-solid fa-angle-down ms-auto"></i>
      </button>
      <div class="collapse" id="pendingOrders">
        <form action="" method="post">
          <ul class="btn-toggle-nav list-unstyled border rounded fw-normal pb-1 small ps-4">
            <li class="mb-1 my-3 mx-1">
              <a class="btn btn-toggle d-inline-flex border-0 align-items-center rounded collapsed w-100 text-primary"
                data-bs-target="#allOrders" aria-expanded="true" role="button" routerLink="/dashbord/buyingOrders">
                Buying orders
              </a>
            </li>
            <li class="mb-1 my-3 mx-1">
              <a class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed w-100 text-primary"
                data-bs-target="#allOrders" aria-expanded="true" role="button" routerLink="/dashbord/exchangingOrders">
                Exchanging orders
              </a>
            </li>
          </ul>
        </form>
      </div>
    </li>
    <li class="mb-1 my-3 mx-1">
      <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed w-100 text-primary"
        data-bs-toggle="collapse" data-bs-target="#Delivered" aria-expanded="true">
        <!-- <i class="fa-solid fa-bag-shopping fa-beat-fade"></i> -->
        <i class="fa-solid fa-truck-fast mx-2"></i>Delivered Orders           <i class="fa-solid fa-angle-down ms-auto"></i>
      </button>
      <div class="collapse" id="Delivered">
        <form action="" method="post">
          <ul class="btn-toggle-nav list-unstyled border rounded fw-normal pb-1 small ps-4">
            <li class="mb-1 my-3 mx-1">
              <a class="btn btn-toggle d-inline-flex border-0 align-items-center rounded collapsed w-100 text-primary"
                data-bs-target="#allOrders" aria-expanded="true" role="button" routerLink="/dashbord/deliveredBuying">
                Buying orders
              </a>
            </li>
            <li class="mb-1 my-3 mx-1">
              <a class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed w-100 text-primary"
                data-bs-target="#allOrders" aria-expanded="true" role="button" routerLink="/dashbord/deliveredexchanging">
                Exchanging orders
              </a>
            </li>
          </ul>
        </form>
      </div>
    </li>
    <li class="mb-1 mt-5 mx-1">
      <button class="btn btn-toggle d-inline-flex bg-primary align-items-center rounded border-0 w-100 text-white" (click)="addAdmin()">
        <i class="fa-solid fa-plus mx-2"></i>Add Admin
      </button>
    </li>
    <li class="mb-1 mt-2 mx-1">
      <a class="btn btn-toggle d-inline-flex bg-primary align-items-center rounded border-0 w-100 text-white"
        role="button" href="#" aria-expanded="true">
        <i class="fa-solid fa-arrow-up-right-from-square mx-2"></i>Go to website
      </a>
    </li>
  </ul>
</div>

<!-- add admin -->
