<div class="container-fluid p-0"><app-navbar></app-navbar>

</div>
<div class="container-fluid p-0 row justify-content-between mt-lg-3 ">
  <button class="btn btn-outline-primary w-25 m-3 border border-1 d-lg-none ml-5" data-bs-toggle="offcanvas"
    data-bs-target="#ee">
    &nbsp;  &nbsp; <i class="fa-solid fa-clipboard"></i> &nbsp;Dashboard
  </button>
  <div class="col-lg-2 offcanvas-lg offcanvas-start" id="ee">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-lg-10 col-md-12 mt-2 rounded-3 pt-3" style="background-color: rgb(245, 241, 241)">
    <router-outlet></router-outlet>
</div> 
</div>
<!-- <div class="row justify-content-between mt-lg-3 px-lg-4 px-md-2 py-3">
  <button class="btn btn-outline-primary w-25 m-3 border border-1 d-lg-none" data-bs-toggle="offcanvas"
    data-bs-target="#ee">
    <i class="fa-solid fa-clipboard"></i> Dashboard
  </button>
  <div class="col-lg-2 offcanvas-lg offcanvas-start" id="ee">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-lg-10 col-md-12 mt-2 rounded-3 pt-3" style="background-color: rgb(245, 241, 241)">
    <router-outlet></router-outlet>
</div> -->





