<div class="row">
  
  <div class="input-group mb-3 mt-5 ml-g">
  <input type="text" class="form-control"[(ngModel)]="term" >
  <div class="input-group-append"><button class="btn btn-primary"><i class="fas fa-search"></i></button></div>
</div>
</div>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-3 px-lg-3 px-md-2 py-3">
  
  <table class="table table-hover text-center align-baseline">
    <thead class="table" style="font-size: 17px">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Seller</th>
        <th scope="col">Buyer</th>
        <th scope="col">Date</th>
        <th scope="col">Payment method</th>
        <th scope="col">Profit</th>
        <th scope="col">State</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody *ngFor="
      let order of response['buyingOrders']| filter: term 
        | paginate
          : {
              id: 'ordersTable',
              itemsPerPage: itemsPerPage,
              currentPage: currentPage,
              totalItems: totalItems
            };
      let i = index
    ">
      <tr>
        <th scope="row">{{ itemsPerPage * (currentPage - 1) + i + 1 }}</th>
        <td>
          {{
          response["ordersDetails"][i][
          "orderSellerDetails"
          ]["userName"] | titlecase
          }}
          - {{order.addressfrom.city}}
        </td>
        <td>
          {{
          response["ordersDetails"][i][
          "orderBuyerDetails"
          ]["userName"] | titlecase
          }}
          - {{order.addressto.city}}
        </td>
        <td>{{ order["time"] | date: "mediumDate" }}</td>
        <td>{{ order["paymentmethod"] }}</td>
        <td>{{ order["profit"] }} EGP</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{ order["status"] | titlecase }}
            </button>
            <ul class="dropdown-menu" *ngIf="order['status'] == 'waiting'">
              <li>
                <button class="dropdown-item" type="button" (click)="updateStatus(order['_id'], 'on the way')">
                  On the way
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button" (click)="updateStatus(order['_id'], 'delivered')">
                  Delivered
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button" (click)="updateStatus(order['_id'], 'canceled')">
                  Cancel
                </button>
              </li>
            </ul>
            <ul class="dropdown-menu" *ngIf="order['status'] == 'on the way'">
              <li>
                <button class="dropdown-item" type="button" (click)="updateStatus(order['_id'], 'delivered')">
                  Delivered
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button" (click)="updateStatus(order['_id'], 'canceled')">
                  Cancel
                </button>
              </li>
            </ul>
          </div>
        </td>
        <td>
          <button mat-button type="button" class="btn btn-outline-primary" (click)="openDialog({'order':order , 'ordersDetails':response.ordersDetails[i]})">
            View >>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container text-center">
    <pagination-controls id="ordersTable" (pageChange)="pageChanged($event)"
      (pageBoundsCorrection)="pageChanged($event)" previousLabel="Previous" nextLabel="Next"
      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
  <!-- <div class="container-fluid">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
        >Previous</a
      >
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</div>  -->
</div>