<nav class="">
  <div class="navbar">
    <div class="container pt-0 mx-0 mb-2 w-100">
      <a href="" className="navbar-brand p-0 ps-3"
        ><img
          src="../../../assets/images/Untitled-3.png"
          alt=""
          srcSet
          width="200px"
      /></a>
      <!-- <form
        class="d-flex w-50 position-relative d-none d-md-block"
        role="search"
      >
        <input
          class="form-control me-2 border-primary rounded-pill"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn text-primary position-absolute last" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form> -->
      <div>
        <button
        
          class="btn btn-outline-primary rounded-pill px-3 mx-lg-3"
          routerLink="/dashbord/logout"
        >
          Logout <i class="fa-solid fa-right-to-bracket"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
