@import "~bootstrap/dist/css/bootstrap.css";
html, body { height: 100%; };
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-outline-primary:hover{
    color: aliceblue !important;
}
.btn-primary{
    color: aliceblue !important;
}